.paragraphs-base-text {
  .paragraph-description.add-styling {
    border-left: none;
    padding: 15px 14px 20px;
    border-bottom: 1px solid #ccc;
    color: $atlantis;
    line-height: 1.25;
    font-weight: 300;
    margin: 0;

    @extend .h2;

    @include media('<tablet') {
      font-size: 25px;
    }

    @include media ('>=tablet') {
      padding: 20px 0 20px 15px;
    }

    p {
      &:before {
          content: '“';
          position: relative;
          top: inherit;
          width: 15px;
          left: inherit;
          text-indent: -5px;
          display: inline-block;

          @include media('>=tablet') {
            top: inherit;
            left: inherit;
          }
        }
        &:after {
          content: '“';
          display: inline;
          width: 15px;
          margin-right: 10px;
        }
    }
  }
}