.video {
  margin-top: 90px;
  margin-bottom: 90px;

  @include media('<=phone') {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .paragraph--type--video {
    .fifty-percent {
      &.description-align-left {
        margin-left: 10%;
        margin-right: 10%;
        // margin-bottom: 40px;
        @media screen and (max-width: 768px) {
          margin-left: 5%;
          margin-right: 5%;
        }
        .video-description {
          width: 30%;
          display: inline-block;
          margin-top: 70px;
          text-align: unset;
          @media screen and (max-width: 768px) {
            width: 100%;
            display: block;
          }

        }
        .wrapping-video-title {
          width: 65%;
          float: right;
          @media screen and (max-width: 768px) {
            width: 100%;
            float: none;
          }
        }
      }
    }
    .title-top {
      padding-bottom: 24px;
    }
    .video-title {
      color: #98c93c;
      font-weight: 700;
      text-transform: capitalize;
    }
    .video-published-text {
      font-size: 12px;
      color: #b3b3b3;
      font-weight: 400;
    }
    .video-description {
      margin-top: 25px;
      text-align: center;
    }

    .hundred-percent {
      .video-description-wrapper  {
        padding-top: 90px;
        @media screen and (max-width: 768px) {
          padding-top: 50px;
        }
        .video-description-text {
          margin: 0 20%;
          @media screen and (max-width: 768px) {
            margin: 0 5%;
          }
          .title-bottom {
            width: 25%;
            padding-bottom: 24px;
            float: left;
            @media screen and (max-width: 768px) {
              width: 100%;
              float: none;
              text-align: center;
            }
          }
          .video-description {
            width: 50%;
            float: left;
            margin-top: 0;
            text-align: unset;
            @media screen and (max-width: 768px) {
              width: 100%;
              float: none;
            }
          }
        }
      }
    }
    .seventy-five-percent {
      margin: 0 10%;
      @media screen and (max-width: 768px) {
        margin: 0 5%;
      }
      .video-description {
        width: 60%;
        margin: 5% 0;
        text-align: inherit;
        margin-bottom: 40px;
        @media screen and (max-width: 768px) {
          width: 100%;
          text-align: inherit;
        }
      }
    }
  }
}

.video-gallery {
  padding-top: 90px;
  .video-block {
    clear: both;
    > div {
      > div:nth-child(1) {
        width: 46%;
        float: left;
        @media screen and (max-width: 768px) {
          width: 100%;
          float: none;
          margin-top: 20px;
        }
      }
      > div:nth-child(2) {
        width: 46%;
        float: right;
        @media screen and (max-width: 768px) {
          width: 100%;
          float: none;
          margin-top: 20px;
        }
      }
    }
  }
  .video-description {
    clear: both;
    padding: 80px 0 90px;
    margin-left: 15%;
    margin-right: 15%;
    @media screen and (max-width: 768px) {
      padding: 60px 0;
      margin: 0%;
    }
  }

  .video-wrapper {
    .video {
      @include make-sm-column(6);
      margin: 0;
    }
  }

}