<div id="wrapper">

  {% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
  
  {% include directory ~ '/templates/includes/header.html.twig' %}

  {# Main #}
  {% block main %}
    <div role="main" id="main">

      {# Help #}
      {% if page.help %}
        {% block help %}
          {{ page.help }}
        {% endblock %}
      {% endif %}
      
      {{ page.header }}

      {# Content #}
      {% block content %}
        <a id="main-content"></a>
        {{ page.content }}
      {% endblock %}

    </div>
  {% endblock %}

  {% include directory ~ '/templates/includes/footer.html.twig' %}

</div>