
body {
  font-family: District-Book;
  font-size: 16px;
  color: #47545c;
}
a {
  color: #75c8b9;
  text-transform: underline;
}
h1 {
  font-family: District-Book;
  font-size: 70px;
  color: #ffffff;
}

h2 {
  font-family: District-Book;
  font-size: 40px;
}
h3 {
  font-family: District-Book;
  font-size: 34px;
  color: #ffffff;
}
h4 {
  font-family: District-Book;
  font-size: 24px;
  color: #ffffff;
}
h5 {
  font-family: District-Bold;
  font-size: 18px;
  color: #98C93C;
}
body .container {
	width: 100%;
}