.paragraph--type--articles {
  margin: 0 7%;
  clear: left;
  padding: 20px;
  h2 {
    font-family: District Bold;
    font-size: 16px;
    font-weight: bold;
    a {
      color: #48535B;
    }
  }
  .field--name-field-author {
    font-family: District Book Italic;
    font-size: 16px;
    color: #48535B;
  }
  .field--name-field-teaser-text {
    font-family: District Book;
    font-size: 12px;
    color: #48535B;
  }
  .field--name-field-link {
    border-top: 1px solid #47545c;
    display: inline-block;
    margin-top: 15px;
    padding-top: 20px;
    a {
      color: #F49206;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

// If the number of Articles is a row is 1.
.one_article {
  .field--name-field-article {
    > .field--item {
      width: 75%;
      float: left;
      padding: 20px;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
      }
    }
  }
}

// If the number of Articles in a row is 2.
.two_articles {
  .field--name-field-article {
    > .field--item {
      width: 50%;
      float: left;
      padding: 20px;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
      }
    }
  }
}

// If the number of Articles in a row is 3.
.three_articles {
  .field--name-field-article {
    > .field--item {
      width: 33%;
      float: left;
      padding: 20px;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
     }
    }
  }
}