
body {
  font-family: District-Book;
  font-size: 16px;
  color: #47545c;
}
a {
  color: #75c8b9;
  text-transform: underline;
}
h1 {
  font-family: District-Book;
  font-size: 70px;
  color: #ffffff;
}

h2 {
  font-family: District-Book;
  font-size: 40px;
}
h3 {
  font-family: District-Book;
  font-size: 34px;
  color: #ffffff;
}
h4 {
  font-family: District-Book;
  font-size: 24px;
  color: #ffffff;
}
h5 {
  font-family: District-Bold;
  font-size: 18px;
  color: #98C93C;
}
body .container {
  width: 100%;
}

/* Footer */
footer {
  background: #47545c;
}
footer .region-footer {
  margin: 0 10%;
}
@media screen and (max-width: 768px) {
  footer .region-footer {
    margin: 0;
  }
}
footer .region-footer .menu--connect-with-us {
  text-align: right;
}
@media screen and (max-width: 768px) {
  footer .region-footer .menu--connect-with-us {
    text-align: center;
  }
}
footer .region-footer .menu--connect-with-us li {
  display: inline-block;
}
footer .region-footer .menu--connect-with-us li a {
  color: white;
}
footer .region-footer #block-lilp-footer {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  footer .region-footer #block-lilp-footer {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  footer .region-footer #block-lilp-footer .menu--footer {
    text-align: center;
  }
}
footer .region-footer #block-lilp-footer .menu--footer li {
  display: inline-block;
}
footer .region-footer #block-lilp-footer .menu--footer li a {
  color: #619600;
}
footer .region-footer #block-lilp-copyrighttext {
  text-align: right;
  color: #b2b2b2;
  display: inline-block;
  float: right;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  footer .region-footer #block-lilp-copyrighttext {
    text-align: center;
    float: none;
  }
}

.paragraphs-base-image {
  height: 100%;
  display: table;
  display: inline-grid;
  width: 100%;
}
.paragraphs-base-image .paragraph-image {
  background-repeat: no-repeat;
  min-height: 775px;
  height: 100%;
  background-size: cover;
  position: relative;
  margin-bottom: 0;
  z-index: 0;
}
.paragraphs-base-image .paragraph-image::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.paragraphs-base-image .paragraph-image .hero-text {
  display: table;
  width: 100%;
  height: 100%;
}
.paragraphs-base-image .paragraph-image .hero-text-inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 5;
  padding-bottom: 125px;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: white;
}
@media screen and (max-width: 768px) {
  .paragraphs-base-image .paragraph-image .hero-text-inner {
    padding-bottom: 125px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.paragraphs-base-image .paragraph-image h2 {
  padding-bottom: 25px;
}
.paragraphs-base-image .paragraph-image p {
  padding-top: 0;
}

.paragraphs-base-text .paragraph-description {
  text-align: center;
  margin: 3% 25%;
  padding: 30px;
}
@media screen and (max-width: 768px) {
  .paragraphs-base-text .paragraph-description {
    margin: 0;
  }
}
.paragraphs-base-text .paragraph-description.add-styling {
  color: #87b824;
  border-bottom: 1px solid #b2b2b2;
  font-size: 25px;
}


/* Article Type Paragraph */
.paragraph--type--articles {
  margin: 0 7%;
  clear: left;
  padding: 20px;
}
.paragraph--type--articles h2 {
  font-family: District Bold;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
.paragraph--type--articles h2 a {
  color: #48535B;
}
.paragraph--type--articles .field--name-field-author {
  font-family: District Book Italic;
  font-size: 16px;
  color: #48535B;
  display: inline-block;
}
.paragraph--type--articles .field--name-field-teaser-text {
  font-family: District Book;
  font-size: 12px;
  color: #48535B;
}
.paragraph--type--articles .field--name-field-link {
  border-top: 1px solid #47545c;
  display: inline-block;
  margin-top: 15px;
  padding-top: 20px;
}
.paragraph--type--articles .field--name-field-link a {
  color: #F49206;
  text-transform: uppercase;
  font-size: 12px;
}

.one-article .field--name-field-article > .field--item {
  width: 75%;
  display: inline-block;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .one-article .field--name-field-article > .field--item {
    width: 100%;
    padding: 0;
  }
}

.two-articles .field--name-field-article > .field--item {
  width: 48%;
  display: inline-block;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .two-articles .field--name-field-article > .field--item {
    width: 100%;
    padding: 0;
  }
}

.three-articles .field--name-field-article > .field--item {
  width: 33%;
  display: inline-block;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .three-articles .field--name-field-article > .field--item {
    width: 100%;
    padding: 0;
  }
}

/* Video */
.paragraph--type--video .fifty-percent {
  width: 50%;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .paragraph--type--video .fifty-percent {
    width: 100%;
    float: none;
    padding: 0;
  }
}
.paragraph--type--video .video-title {
  color: #619700;
  margin-bottom: 20px;
}
.paragraph--type--video .video-description {
  margin-top: 25px;
  text-align: center;
}
